<div class="box-configurations">
    <h2 data-bind="i18n: 'Box configurations'"></h2>

    <div data-bind="foreach: { data: boxConfigurations, as: 'boxConfigurations' }">
        <div>
            <!-- ko i18n: 'Configuration' --><!-- /ko -->
            <!-- ko text: $index() + 1 --><!-- /ko -->:
            <span data-bind="text: ko.toJSON(boxConfigurations)"></span>
            <span data-bind="text: console.log('root', $root)"></span>
            <span data-bind="text: console.log('parent', $parent)"></span>
        </div>
    </div>
</div>
