<!--The 'step_code' value from the .js file should be used-->
<li id="step_code" data-bind="mageInit: {'collapsible':{'openedState': 'active', 'active': false}}, fadeVisible: isVisible">

    <div class="step-title" data-role="title" role="tab" aria-selected="false" aria-expanded="false" tabindex="0">
        <div data-role="trigger">
            <span>Second step title</span>
        </div>
    </div>
    <div class="step-content" data-role="content" role="tabpanel" aria-hidden="true">
        <div class="message warning">
                <span data-bind="text: superMessageCheckout"></span>
        </div>
    </div>
    <div id="checkout-step-title"
         class="step-content"
         data-role="content">

        <form data-bind="submit: navigateToNextStep" novalidate="novalidate">
            <div class="actions-toolbar">
                <div class="primary">
                    <button data-role="opc-continue" type="submit" class="button action continue primary">
                        <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
